extends layout

block content
    h1= title
    p Welcome to our CmpE 172 WebApp
    p Created by: Brendan, David, and Kevin

    // Wrapper
    #wrapper

        // USER INFO
        #userInfo
            h2 User Info
            p
                strong First Name:
                |  <span id='userInfoName'></span>
                br
                strong Last Name:
                |  <span id='userInfoAge'></span>
                br
        // /USER INFO

        // USER LIST
        h2 User List
        #userList
            table
                thead
                    th UserName
                    th Email
                    th Delete?
                tbody
        // /USER LIST

        // ADD USER
        h2 Add User
        #addUser
            fieldset
                input#inputUserName(type='text', placeholder='Username')
                input#inputUserEmail(type='text', placeholder='Email')
                br
                input#inputUserFullname(type='text', placeholder='First Name')
                input#inputUserAge(type='text', placeholder='Last Name')
                br
                button#btnAddUser Add User
        // /ADD USER

    // /WRAPPER